
/* 定义初始颜色
------------------------------- */
$--el-color-whites: #ffffff !default;
$--el-color-blacks: #000000 !default;
$--el-color-primary: #AD49FF !default;
$--el-color-success: #67c23a !default;
$--el-color-info: #909399 !default;
$--el-color-warning: #e6a23c !default;
$--el-color-danger: #f56c6c !default;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': $--el-color-primary,
    ),
    'success': (
      'base': $--el-color-success,
    ),
    'warning': (
      'base': $--el-color-warning,
    ),
    'danger': (
      'base': $--el-color-danger,
    ),
    'info': (
      'base': $--el-color-info,
    ),
  ),
);
