@font-face {
  font-family: 'viteIcon';  /* project id 2351447 */
  src: url('//at.alicdn.com/t/font_2351447_lh05srieipo.eot');
  src: url('//at.alicdn.com/t/font_2351447_lh05srieipo.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2351447_lh05srieipo.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2351447_lh05srieipo.woff') format('woff'),
  url('//at.alicdn.com/t/font_2351447_lh05srieipo.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2351447_lh05srieipo.svg#viteIcon') format('svg');
}
  
.viteIcon {
  font-family: "viteIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.viteliebiao:before {
  content: "\e607";
}

.vitedingdan:before {
  content: "\e645";
}

.viteyonghuguanli:before {
  content: "\e667";
}

.viteguanyuwomen:before {
  content: "\e662";
}

.viteshouye:before {
  content: "\e608";
}

.viteyanjing:before {
  content: "\e60d";
}

.vitebiyan:before {
  content: "\e610";
}
