@font-face {
  font-family: 'viteIcon';  /* project id 2351447 */
  src: url('//at.alicdn.com/t/font_2351447_fczcf1rg0k4.eot');
  src: url('//at.alicdn.com/t/font_2351447_fczcf1rg0k4.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2351447_fczcf1rg0k4.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2351447_fczcf1rg0k4.woff') format('woff'),
  url('//at.alicdn.com/t/font_2351447_fczcf1rg0k4.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2351447_fczcf1rg0k4.svg#viteIcon') format('svg');
}

.viteIcon {
  font-family: "viteIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vitejiaoyu:before {
  content: "\e603";
}

.viteyinhuanguanli:before {
  content: "\e60a";
}

.viteicon_xinyong_xianxing_jijin-:before {
  content: "\e63c";
}

.vitesousuo-:before {
  content: "\e617";
}

.viteliebiao:before {
  content: "\e607";
}

.vitedingdan:before {
  content: "\e645";
}

.viteyonghuguanli:before {
  content: "\e667";
}

.viteguanyuwomen:before {
  content: "\e662";
}

.viteshouye:before {
  content: "\e608";
}

.viteyanjing:before {
  content: "\e60d";
}

.vitebiyan:before {
  content: "\e610";
}
