@font-face {
  font-family: "viteIcon"; /* project id 2351447 */
  src: url("//at.alicdn.com/t/font_2351447_z7av7qh6cx.eot");
  src: url("//at.alicdn.com/t/font_2351447_z7av7qh6cx.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_2351447_z7av7qh6cx.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_2351447_z7av7qh6cx.woff") format("woff"),
    url("//at.alicdn.com/t/font_2351447_z7av7qh6cx.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_2351447_z7av7qh6cx.svg#viteIcon") format("svg");
}

.viteIcon {
  font-family: "viteIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.viteZJ-biaoge:before {
  content: "\e796";
}

.viteZJ-fuwenben:before {
  content: "\e693";
}

.viteZJ-shangchuan:before {
  content: "\e647";
}

.vitezujian:before {
  content: "\e85e";
}

.vitehome-liulanliang:before {
  content: "\e600";
}

.vitehome-zongshouyi:before {
  content: "\e64d";
}
.vitehome-daymoney:before {
  content: "\e657";
}

.vitehome-wengzhang:before {
  content: "\e618";
}

.vitehome-done:before {
  content: "\e60b";
}

.vitehome-user:before {
  content: "\e658";
}

.vitecancel-full-screen:before {
  content: "\e688";
}

.vitefullScreen:before {
  content: "\e627";
}

.vitecaidan:before {
  content: "\e663";
}

.vitexitong-:before {
  content: "\e609";
}

.vitepeizhi:before {
  content: "\e60f";
}

.vitecaidanliebiao:before {
  content: "\e633";
}

.vitejiaose:before {
  content: "\e660";
}

.viteziyuanliebiao:before {
  content: "\e61d";
}

.viteyonghuliebiao:before {
  content: "\e646";
}

.vitequanxianguanli-02:before {
  content: "\e60e";
}

.vitejiaoyu:before {
  content: "\e603";
}

.viteyinhuanguanli:before {
  content: "\e60a";
}

.viteicon_xinyong_xianxing_jijin-:before {
  content: "\e63c";
}

.vitesousuo-:before {
  content: "\e617";
}

.viteliebiao:before {
  content: "\e607";
}

.vitedingdan:before {
  content: "\e645";
}

.viteyonghuguanli:before {
  content: "\e667";
}

.viteguanyuwomen:before {
  content: "\e662";
}

.viteshouye:before {
  content: "\e608";
}

.viteyanjing:before {
  content: "\e60d";
}

.vitebiyan:before {
  content: "\e610";
}
