@font-face {
  font-family: 'viteIcon';  /* Project id 2351447 */
  src: url('//at.alicdn.com/t/font_2351447_wbqdrmxsaps.woff2?t=1622371215213') format('woff2'),
       url('//at.alicdn.com/t/font_2351447_wbqdrmxsaps.woff?t=1622371215213') format('woff'),
       url('//at.alicdn.com/t/font_2351447_wbqdrmxsaps.ttf?t=1622371215213') format('truetype');
}
/*匹配格式为正则 /\/\*(\s)(\w*|[^\x00-\xff]*)(\s)\*\//g*/
.viteIcon {
  font-family: "viteIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* antv */
.viteantv:before {
  content: "\e623";
}

/* 外链 */
.vitelianjie:before {
  content: "\e637";
}

/* 内嵌网页 */
.viteiframe:before {
  content: "\e933";
}

/* 日志 */
.vitebullseye:before {
  content: "\eb2d";
}
/* BUG */
.vitebug:before {
  content: "\e6c2";
}
/* API */
.viteAPI:before {
  content: "\e61e";
}
/* 添加日志 */
.viteyumaobi:before {
  content: "\e601";
}
/* 语言 */
.vitelanguage1:before {
  content: "\e7a5";
}
/* 语言 */
.vitelanguage2:before {
  content: "\e7f9";
}
/* 地球 */
.vitelanguage:before {
  content: "\e66f";
}
/* 字体大小 */
.vitefont-size:before {
  content: "\e613";
}
/* 饼状图 */
.vitebingzhuangtu:before {
  content: "\e616";
}
/* 折线图 */
.vitezhexiantu:before {
  content: "\e666";
}
/* 柱状图 */
.vitezhuzhuangtu:before {
  content: "\e619";
}
/* ICON */
.vitei:before {
  content: "\e661";
}
/* 图表 */
.vitetubiao:before {
  content: "\e69a";
}
/* 地图 */
.viteviteZJ-ditu:before {
  content: "\e61a";
}
/* 表格 */
.viteZJ-biaoge:before {
  content: "\e796";
}
/* 富文本 */
.viteZJ-fuwenben:before {
  content: "\e693";
}
/* 上传 */
.viteZJ-shangchuan:before {
  content: "\e647";
}
/* 组件 */
.vitezujian:before {
  content: "\e85e";
}
/* 火热 */
.vitehome-liulanliang:before {
  content: "\e600";
}
/* 存钱罐 */
.vitehome-zongshouyi:before {
  content: "\e64d";
}
/* 铜钱 */
.vitehome-daymoney:before {
  content: "\e657";
}
/* 文件 */
.vitehome-wengzhang:before {
  content: "\e618";
}
/* 已完成 */
.vitehome-done:before {
  content: "\e60b";
}
/* 用户 */
.vitehome-user:before {
  content: "\e658";
}
/* 取消全屏 */
.vitecancel-full-screen:before {
  content: "\e688";
}
/* 搜索 */
.vitesousuo-:before {
  content: "\e617";
}
/* 全屏 */
.vitefullScreen:before {
  content: "\e627";
}
/* 菜单 */
.vitecaidan:before {
  content: "\e663";
}
/* 系统 */
.vitexitong-:before {
  content: "\e609";
}
/* 配置 */
.vitepeizhi:before {
  content: "\e60f";
}
/* 列表 */
.vitecaidanliebiao:before {
  content: "\e633";
}
/* 角色 */
.vitejiaose:before {
  content: "\e660";
}
/* 资源 */
.viteziyuanliebiao:before {
  content: "\e61d";
}
/* 用户 */
.viteyonghuliebiao:before {
  content: "\e646";
}
/* 权限 */
.vitequanxianguanli-02:before {
  content: "\e60e";
}
/* 列表 */
.viteliebiao:before {
  content: "\e607";
}
/* 订单 */
.vitedingdan:before {
  content: "\e645";
}
/* 用户管理 */
.viteyonghuguanli:before {
  content: "\e667";
}
/* 关于我们 */
.viteguanyuwomen:before {
  content: "\e662";
}
/* 首页 */
.viteshouye:before {
  content: "\e608";
}
/* 显示 */
.viteyanjing:before {
  content: "\e60d";
}
/* 隐藏 */
.vitebiyan:before {
  content: "\e610";
}
