// 菜单颜色
$--menus-background: #fff;
$--menus-item-hover-background: rgb(228, 230, 255);
$--menus-item-hover-color: rgb(136, 144, 255);
$--menus-children-background: rgb(244, 244, 252);
$--menus-children-hover-background: rgb(220, 223, 255);
$--menus-item-open-color: #fff;
$--menus-submenu-title-color: #000;

$--menus-logo-color: rgb(136, 144, 255);
$--menus-logo-background: #fff;
