/* 定义初始颜色
------------------------------- */
$--color-primary: #AD49FF !default;
$--color-whites: #ffffff !default;
$--color-blacks: #000000 !default;
$--color-primary-light-1: mix($--color-whites, $--color-primary, 10%) !default;
$--color-primary-light-3: mix($--color-whites, $--color-primary, 30%) !default;
$--color-primary-light-5: mix($--color-whites, $--color-primary, 50%) !default;
$--color-primary-light-7: mix($--color-whites, $--color-primary, 70%) !default;
$--color-primary-light-9: mix($--color-whites, $--color-primary, 90%) !default;
$--color-success: #67c23a !default;
$--color-success-light-1: mix($--color-whites, $--color-success, 10%) !default;
$--color-success-light-3: mix($--color-whites, $--color-success, 30%) !default;
$--color-success-light-5: mix($--color-whites, $--color-success, 50%) !default;
$--color-success-light-7: mix($--color-whites, $--color-success, 70%) !default;
$--color-success-light-9: mix($--color-whites, $--color-success, 90%) !default;
$--color-info: #909399 !default;
$--color-info-light-1: mix($--color-whites, $--color-info, 10%) !default;
$--color-info-light-3: mix($--color-whites, $--color-info, 30%) !default;
$--color-info-light-5: mix($--color-whites, $--color-info, 50%) !default;
$--color-info-light-7: mix($--color-whites, $--color-info, 70%) !default;
$--color-info-light-9: mix($--color-whites, $--color-info, 90%) !default;
$--color-warning: #e6a23c !default;
$--color-warning-light-1: mix($--color-whites, $--color-warning, 10%) !default;
$--color-warning-light-3: mix($--color-whites, $--color-warning, 30%) !default;
$--color-warning-light-5: mix($--color-whites, $--color-warning, 50%) !default;
$--color-warning-light-7: mix($--color-whites, $--color-warning, 70%) !default;
$--color-warning-light-9: mix($--color-whites, $--color-warning, 90%) !default;
$--color-danger: #f56c6c !default;
$--color-danger-light-1: mix($--color-whites, $--color-danger, 10%) !default;
$--color-danger-light-3: mix($--color-whites, $--color-danger, 30%) !default;
$--color-danger-light-5: mix($--color-whites, $--color-danger, 50%) !default;
$--color-danger-light-7: mix($--color-whites, $--color-danger, 70%) !default;
$--color-danger-light-9: mix($--color-whites, $--color-danger, 90%) !default;

$--menu-menu-background: #fff;
$--menu-item-hover-background: rgb(228, 230, 255);
$--menu-item-hover-color: #AD49FF;
$--menu-children-background: rgb(244, 244, 252);
$--menu-children-hover-background: rgb(220, 223, 255);
$--menu-submenu-title-color: #000;

$--menu-logo: #AD49FF;
$--menu-logo-background: #fff;

/* 赋值给:root
------------------------------- */
:root {
	--color-primary: #{$--color-primary};
	--color-whites: #{$--color-whites};
	--color-blacks: #{$--color-blacks};
	--color-primary-light-1: #{$--color-primary-light-1};
	--color-primary-light-3: #{$--color-primary-light-3};
	--color-primary-light-5: #{$--color-primary-light-5};
	--color-primary-light-7: #{$--color-primary-light-7};
	--color-primary-light-9: #{$--color-primary-light-9};
	--color-success: #{$--color-success};
	--color-success-light-1: #{$--color-success-light-1};
	--color-success-light-3: #{$--color-success-light-3};
	--color-success-light-5: #{$--color-success-light-5};
	--color-success-light-7: #{$--color-success-light-7};
	--color-success-light-9: #{$--color-success-light-9};
	--color-info: #{$--color-info};
	--color-info-light-1: #{$--color-info-light-1};
	--color-info-light-3: #{$--color-info-light-3};
	--color-info-light-5: #{$--color-info-light-5};
	--color-info-light-7: #{$--color-info-light-7};
	--color-info-light-9: #{$--color-info-light-9};
	--color-warning: #{$--color-warning};
	--color-warning-light-1: #{$--color-warning-light-1};
	--color-warning-light-3: #{$--color-warning-light-3};
	--color-warning-light-5: #{$--color-warning-light-5};
	--color-warning-light-7: #{$--color-warning-light-7};
	--color-warning-light-9: #{$--color-warning-light-9};
	--color-danger: #{$--color-danger};
	--color-danger-light-1: #{$--color-danger-light-1};
	--color-danger-light-3: #{$--color-danger-light-3};
	--color-danger-light-5: #{$--color-danger-light-5};
	--color-danger-light-7: #{$--color-danger-light-7};
	--color-danger-light-9: #{$--color-danger-light-9};

	--menu-menu-background: #{$--menu-menu-background};
	--menu-item-hover-background: #{$--menu-item-hover-background};
	--menu-item-hover-color: #{$--menu-item-hover-color};
	--menu-children-background: #{$--menu-children-background};
	--menu-children-hover-background: #{$--menu-children-hover-background};
	--menu-submenu-title-color: #{$--menu-submenu-title-color};

	--menu-logo-color: #{$--menu-logo};
	--menu-logo-background: #{$--menu-logo-background};
}
